#!/bin/bash


{% for i in blocklist_urls.files %}
wget -4 -O "lists/{{ i }}" "{{ blocklist_urls.domain }}/{{ i }}"
{% endfor %}

rm lists/custom.txt
{% for i in blocklist_domains %}
echo {{ i }} >> lists/custom.txt
{% endfor %}

cat lists/*.txt |sort -n |uniq > blocklist.txt

chmod 644 blocklist.txt

